/* Main Page Portion */
section.home {
    height: 100%;
    width: 85%;
    position: relative;
    float: left;
    left: 7.5%;
    margin: 0px;
    padding: 0px !important;
    top: 2em;
}

/* Folder Tabber */
.tabber {
    width: 100%;
    text-align: left;
    height: auto;
    outline: 1px solid grey;
    padding-bottom: 1em;
}
.tabber-title {
    font-size: 1.5em;
    height: 2em;
    background: lightgrey;
    padding-top: 0.3em;
    padding-left: 0.3em;
}
/* Make sure to pad each title for each element a bit on the left */
.fl-title, .folder-title {
    padding-left: 0.5em;
}

.folderlist, .folder {
    padding-top: 0.5em;
}

.folder {
    color: dimgrey;
    text-transform: lowercase;
    font-size: 0.9em;
}
.folder:hover{
    cursor: pointer;
    user-select: none;
}

/* Back button */
.back-btn.hide {
    display: none;
}

.back-btn {
    display: block;
    position: relative;
    float: right;
    font-size: 0.8em;
    right: 0.3em;
}